<div class="container">
    <h2>Mantenimiento de Clientes</h2>

    <div class="filters">
        <input [(ngModel)]="filtros.nombre" placeholder="Filtrar por Nombre" />
        <input [(ngModel)]="filtros.apellidoPaterno" placeholder="Filtrar por Apellido Paterno" />
        <input [(ngModel)]="filtros.apellidoMaterno" placeholder="Filtrar por Apellido Materno" />
        <button (click)="buscar()">Buscar</button>
    </div>

    <button (click)="abrirModal()">Agregar Cliente</button>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Fecha Nacimiento</th>
                <th>Sexo</th>
                <th>Dirección</th>
                <th>Correo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellidoPaterno }}</td>
                <td>{{ cliente.apellidoMaterno }}</td>
                <td>{{ cliente.fechaNacimiento }}</td>
                <td>{{ cliente.sexoStr }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>{{ cliente.correo }}</td>
                <td>
                    <button (click)="abrirModal(cliente)">Editar</button>
                    <button (click)="eliminar(cliente.clienteId)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>